.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.preview {
  list-style: none;
}

.drag-area {
  color: '#828282';
  margin : 0 auto;
  height: 200px;
  width: 400px;
  text-align: center;
  align-items: center;
  border: 2px dashed #616061;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 500px;
  justify-content: center;
  line-height: 1.5;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

.drag-text {
  color: '#828282';
}
